extends layout

block content

    div#fullscreen

        div.section.active#section0
            div.layer
                h1#titleh1 american apple juice
                h5#descs1 The only apple juice for the new North Korea
                img#startimg(src="/images/apple_juice.jpg")
        div.section#section1
            div.layer
                h2#title2 The official juice of the Workers Party of Korea!
        div.section#section4
            div#la
                h1#titleh3 Made by North Koreans, for North Koreans
                small#descsmall1 American Apple Juice proudly gets its labor and materials from North Korea
        div.section#section3
            div#descriptor
                h6#title3 Order our Supreme Leader sized Apple Juice today!
                img#applePile(src="/images/pile_apples.png")
                p#price &#8361;9900 per bottle(2 Liters)
                div.layer#move_button
                    div.col-md-3.col-sm-3.col-xs-6
                        a.btn.btn-sm.animated-button.victoria-one(href="https://www.paypal.com/us/webapps/mpp/send-money-online", target="_blank") Order
        div.section#section5
            div#moveSec
                h3#press For inquires email:
                br
                a(href="mailto:support@aajuice.mod.bz") support@aajuice.mod.bz
                br
                img#deca(src="/images/deca.png")
            div#us

                small Website by Ben Tyszka
                br
                small For Parth, Kim and Ben's group